<h1>Welcome to the Page</h1>
<p>This page is created to learn Ruby Programming language</p>



<div class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>